@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  position: relative;
}

.bm-burger-button {
  width: 24px;
  height: 18px;
  left: 25px;
  position: absolute;
  transform: translate(0%, -50%);
}

.bm-burger-bars {
  background: white;
  border-radius: 5px;
  height: 2px !important;
}

.bm-burger-bars-hover {
  background: #d0af00;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 28px !important;
  width: 28px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* .bm-cross-hover {
  background: #d0af00 !important;
} */

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  /* left: 40px; */
}

/* General sidebar styles */
.bm-menu {
  background: #191919;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #191919;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
}

/* Individual item */
.bm-item {
  text-align: center;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.8) !important;
  top: 0 !important;
  right: 0 !important;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .bm-burger-button {
    width: 24px;
    height: 18px;
    left: 45px;
  }
}

@media screen and (max-width: 480px) {
  .Toastify__toast-container {
    padding: 10px 30px 0 20px !important;
  }
}
